.BookInfo{
    width: 700px;
    height: 600px;
    margin: 50px auto;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #ffffff;
}
.BookDepart{
    display: inline-block;
    line-height: 0px;
    margin-left: 10px;
    height: 354px;
    width: 380px;
}

.BookIntro{
    display: inline-block;
    height: 324px;
    width: 100%;
    text-align: left;
}

.Bookstate{
    display: block;
    text-align: left;
}

.BookImage{
    float: left;
}
/*사진 왼쪽 정보 오른쪽 정렬하기*/


h2{
    font-size: 25px;
    font-weight: normal;
    line-height: 70px;
}

h3{
    font-size: 22px;
    font-weight: normal;
    text-align: left;
}


input[type="file"] {
    display: none;
}
.inputFileButton{
    padding: 6px;
    width: 80px;
    height: 20px;
    text-align: center;
    background-color:#ffffff;
    cursor: pointer;border: 1px solid #cccccc;
    border-radius: 5px;
    color:#000000;
    font-size: 15px;
}
.imageBox{
    background-color: #888888;
    width: 304px;
    height: 354px;
}
.image{
    width: 300px;
    height: 350px;
    margin: 2px;
    object-fit: cover;
}
.itemSelect{
    width: 100%;
    text-align: left;
}